@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/* FADE IN ANIMATION */
.menu:not(.menu--hidden),
.scores:not(.scores--hidden) {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.interface {
  position: fixed;
  right: 0px;
  bottom: 0px;
  color: black;
}

button {
  background: rgb(215 186 223 / 60%);
  padding: 14px 22px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.4s;
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

button:hover {
  background: #fffffff5;
  cursor: pointer;
  color: #000000b3;
}
